extends layout

block content
  header#header.header
    p My Pipe

  #channelList.sidebar.left.scroll

  .player-wrapper.container
    #player.player.projekktor

    #videoDashboard
  
  .sidebar.right.scroll
    #videoList