doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(apple-mobile-web-app-status-bar-style='black')
    meta(apple-mobile-web-app-capable='yes')

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/react.min.js')
    script(src='/javascripts/react-dom.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js')
    script(src='/javascripts/react-mypipe-components.js', type='text/babel')
    script(src='/javascripts/main.js', type='text/babel')
  body
    block content
