html, body, .container {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

header {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;

  height: 50px;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 50px;
  bottom: 0;
  width: 226px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.player-wrapper {
  position: fixed;
  top: 50px;
  left: 226px;
  right: 226px;
  margin: 0 30p;
}
.player {
  height: 600px;
  width: 800px;
  margin: auto;
}
.details {
  width: 800px;
  margin: auto; 
}

#channelList {
  padding: 10px 0;
}
#channelList ul {
  list-style-type: none;
  padding: 0;
}
#channelList li > div {
  cursor: pointer;
  padding: 10px 20px;
}

#player {
  height: 480px;
}
#player > div {
}

#videoDashboard span {
  display: inline-block;
  padding-top: 10px;
}
#videoDashboard .headline {
  width: 100%;
  font-size: 24px;
  word-wrap: break-word;
  color: rgb(34,34,34);
}
#videoDashboard .date, 
#videoDashboard .diffDaysate {
  font-size: 19px;
  word-wrap: break-word;
  color: #232323;
}
#videoDashboard .diffDaysate {
  float: right;
}

#videoList {
  background-color: #eee;
}
#videoList ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#videoList li {
  cursor: pointer;
  display: inline-block;
  margin: 15px;
}
#videoList li > div {
  width: 196px;
  height: 175px;
  word-wrap:break-word;
  overflow: hidden;
}
#videoList img {
  width: 196px;
  height: 110px;
  margin-bottom: 4px;
}
#videoList span {
  width: 196px;
  display:block;
  line-height:1.3em;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.9px;
}
#videoList .name {
  height: 31px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:normal;
  word-wrap:break-word;
  color: #428bca;
}
#videoList .diffDate {
  line-height: 1.3em;
  color: #777;
  display: inline-block;
  width: 100%;
  text-align: right;
}

#videoList .date {
  display: none;
}