body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed!important;
  z-index: 1000;
  top: 50px;
  bottom: 0;

  height: 100%;
  width: 226px;
  padding: 20px;

  display: block;
  
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #eee;
}
.sidebar.left {
  left: 0;
}
.sidebar.right {
  right: 0;
}

#channelList {
  padding: 10px 0;
}
#channelList li > div {
  padding: 10px 20px;
}
#channelList li.active {
  color: #fff;
  background-color: #428bca;
}
#channelList li:hover {
  color: #000;
  background-color: #ddd;
}

.center {
  margin: auto;
  width: 854px;  
}

#player {
  background-color: red;
  height: 480px;
}
#player > div {
}
#videoDashboard span {
  display: inline-block;
  padding-top: 10px;
}
#videoDashboard .headline {
  width: 100%;
  font-family: Roboto, arial, sans-serif;
  font-size: 24px;
  word-wrap: break-word;
  color: rgb(34,34,34);
}
#videoDashboard .date, 
#videoDashboard .diffDaysate {
  font-family: Roboto, arial, sans-serif;
  font-size: 19px;
  word-wrap: break-word;
  color: rgb(102,102,102);
}
#videoDashboard .diffDaysate {
  float: right;
}

#videoList {
  background-color: #eee;
}
#videoList ul {
  display: block;
  list-style-type: none;
  padding: 0;
}
#videoList li {
  display: inline-block;
  margin: 5px;
}
#videoList li > div {
  width: 196px;
  height: 175px;
  word-wrap:break-word;
  overflow: hidden;
}
#videoList img {
  width: 196px;
  height: 110px;
  margin-bottom: 4px;
}
#videoList span {
  width: 196px;
  display:block;
  line-height:1.3em;
  font-family: Roboto, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.9px;
}
#videoList .name {
  height: 31px;
  overflow:hidden;
  position:relative;
  text-overflow:ellipsis;
  white-space:normal;
  word-wrap:break-word;
  color: rgb(22, 122, 198);
}
#videoList .diffDate {
  line-height: 1.3em;
  color: #777;
  display: inline-block;
  width: 100%;
  text-align: right;
}

#videoList .date {
  display: none;
}

/*.preview {
  width: 196px;
  height: 189px;
  border: 1px solid red;
  padding: 2px;
  float: left;
}*/